<p>
  <strong>Name:</strong>
  <%= @subtask.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @subtask.code %>
</p>

<p>
  <strong>Task:</strong>
  <%= @subtask.task %>
</p>

<%= link_to 'Edit', edit_subtask_path(@subtask) %> |
<%= link_to 'Back', subtasks_path %>
