<% content_for :js do %>
  <%= javascript_include_tag 'activity.js', 'data-turbolinks-track' => false %>
<% end %>

<%= form_for(@activity) do |f| %>

  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label  t :project_id %><br>
    <% f.collection_radio_buttons :project_id, Project.activity_ordered, :id, :name %>
    <%= f.collection_select :project_id, Project.open.alfa_order, :id, :name,  include_blank: true %>
  </div>

  <div class="field">
    <%= f.label t :task_id %><br>
    <%= f.collection_select :task_id, Task.all, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label t :subtask_id %><br>
    <%= f.collection_select :subtask_id, Subtask.all, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label t :start %>
    <div class="input-append-date" id="start">
      <input id="activity_start" name="activity[start]" type="text" class="form-control" value="<%= localize_date(@activity.start) %>">
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>
  </div>


  <% if @activity.start %>
    <div class="field">
      <%= f.label t :ended %>
      <div class="input-append-date" id="ended">
        <input id="activity_ended" name="activity[ended]" type="text"  value="<%= localize_date(@activity.ended) %>" class="form-control">
        <span class="add-on">
          <i data-time-icon="icon-time" data-date-icon="icon-calendar">
          </i>
        </span>
      </div>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit t :update %>
  </div>
<% end %>

<script>set_pickers();</script>