<% content_for :js do %>
  <%= javascript_include_tag 'activity.js', 'data-turbolinks-track' => false %>
<% end %>

<%= form_for(@activity) do |f| %>

  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label  t :project_id %><br>
    <% f.collection_radio_buttons :project_id, Project.activity_ordered, :id, :name %>
    <%= f.collection_select :project_id, Project.open.alfa_order, :id, :name,  include_blank: true %>
  </div>

  <div class="field">
    <%= f.label t :task_id %><br>
    <%= f.collection_select :task_id, Task.all, :id, :name, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label t :subtask_id %><br>
    <%= f.collection_select :subtask_id, Subtask.all, :id, :name, include_blank: true %>
  </div>

  <!-- date-time pickers -->
  <div class="row">
    <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0">
      <div class="datetime-pickers-group">
        <div class="form-group">
          <%= f.label t :start %>
          <div class='input-group date' id='datetimepicker_start'>
              <input type='text' class="form-control" id="activity_start" name="activity[start]" />
              <span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
              </span>
          </div>
        </div>          
        <div class="form-group">
          <%= f.label t :ended %>
            <div class='input-group date' id='datetimepicker_ended'>
                <input type='text' class="form-control" id="activity_ended" name="activity[ended]" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
      </div>
    </div>
  </div>
<!-- date-time pickers -->

  <div class="field">
    <%= f.label t :description %><br>
    <%= f.text_field :description, size: "50" %>
  </div>

  <div class="field">
    <%= f.label :chargeable %><br>
    <%= f.check_box :chargeable %>
  </div>

  <div class="field">
    <%= f.label :charged %><br>
    <%= f.check_box :charged %>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-0">
      <div class="datetime-pickers-group">
        <div class="form-group">
          <%= f.label :charged_date %>
            <div class='input-group date' id='datetimepicker_charged_date'>
                <input type='text' class="form-control" id="activity_charged_date" name="activity[charged_date]" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= f.submit t :update %>
  </div>
<% end %>

<script>
  setupDateTimePickers("<%= @activity.try(:start).nil? ? DateTime.now.to_time.iso8601 : @activity.start.to_time.iso8601 %>", "<%= @activity.try(:ended).nil? ? (@activity.try(:start).nil? ? nil : DateTime.now.to_time.iso8601) : @activity.ended.to_time.iso8601 %>");
</script>