<h1>Import checking</h1>
<%= link_to 'Back', :back, class: "btn btn-default btn-success" %>

<% klass_invalid = @invalid > 0 ? "invalid-line" : "" %>
<% klass_mustchk = @must_check > 0 ? "check-this-line" : "" %>
<h3><%= "Total lines: #{@total_lines} ::" %>
<span class=<%= klass_invalid %>><%= "#{@invalid} invalid (red) lines" %></span> -
<span class=<%= klass_mustchk %>><%= "#{@must_check} must check (yellow) lines" %></span>
</h3>

<table class="table table-stripped table-condensed">
  <thead>
    <tr>
      <th>Line</th>
      <th>Project</th>
      <th>Task</th>
      <th>Subtask</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th>Description</th>
      <th>Invalid?</th>
      <th>Error</th>
      <th>Objects</th>
    </tr>
  </thead>

  <tbody>
    <% @parsed_lines.each do |line| %>
      <% klass = line[:must_check] ? "check-this-line" : "" %>
      <% klass = "invalid-line" if line[:invalid] %>

      <tr class=<%= klass %>>
        <td><%= line[:line_num] if line[:line_num] %></td>
        <td><%= line[:proj] if line[:proj] %></td>
        <td><%= line[:task] if line[:task] %></td>
        <td><%= line[:subtask] if line[:subtask] %></td>
        <td><%= localize_date(line[:start]) if line[:start] %></td>
        <td><%= localize_date(line[:ended]) if line[:ended] %></td>
        <td><%= line[:duration] if line[:duration] %></td>
        <td><%= line[:description] if line[:description] %></td>
        <td><%= line[:invalid] if line[:invalid] %>
        <td><%= line[:error] if line[:error] %></td>
        <td><%= line[:objects] if line[:objects] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_tag execute_import_path do -%>
  <%= hidden_field_tag :original_filename, @original_filename %>
  <%= submit_tag "Execute import", class: "btn btn-default btn-danger" %>
<% end -%>