<!-- table implemented with bootstrap-table -->
<% content_for :js do %>
  <%= javascript_include_tag 'bootstrap-table-formatters', 'data-turbolinks-track' => true %>
<% end %>


<h1><%= t :Listing_activities %></h1>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'New Activity', new_activity_path, class: "btn btn-success" %>
  </div>
  <div class="col-md-10">
    <div class="input-group">
      <%= form_tag(upload_activities_file_path, {:class => "form", multipart: true}) do %>
        <%= file_field_tag :import_file_name, style: "float: left;" %>
        <%= hidden_field_tag :import_file_name_cache %>
        <%= submit_tag "Upload and parse", class: "btn btn-primary"  %>
      <% end -%>
    </div>
  </div>
</div>

<div class="thin-spacer"></div>

<div class="row">
  <!-- data load filters -->
  <div class="col-md-12 centered">
    <%= form_tag activity_report_path(format: :pdf), method: 'get', class: 'form-inline' do %>
      <div class="form-group">
        <%= text_field_tag :starting_date, @starting_date, id: "starting_date", class: "form-control" %>
        <%= text_field_tag :ending_date, @ending_date, id: "ending_date", class: "form-control" %>
        <%= hidden_field_tag :filter %>
      </div>
      <div class="form-group">
        Chargeable? <%= select_tag "chargeable", '<option>ALL</option><option>Yes</option><option>No</option>'.html_safe %>
      </div>
      <div class="form-group">
        Charged? <%= select_tag "charged", '<option>ALL</option><option>Yes</option><option>No</option>'.html_safe %>
      </div>
      <div class="form-group">
        <%= button_tag 'Filter_by_dates', onclick: "$('#table').bootstrapTable('refresh');return false;", class: "btn btn-primary" %>
        <%= submit_tag "Print PDF Report", onclick: "$('#filter').val($('.search input:text').val()); ", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>

</div>


<!-- modal popup to user actions -->
<div class="modal fade" id="managmentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Managment</h4>
      </div>
      <div class="modal-body">
        <p class="btn btn-default" id="showPath"></p>
        <p class="btn btn-default" id="editPath"></p>
        <p class="btn btn-default" id="destroyPath"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t(:Close_modal) %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table id="table" class="table table-striped" data-toggle="table" data-sort-name="id" data-sort-order="desc" data-pagination=true data-search=true data-show-pagination-switch=true data-show-refresh=true data-show-columns=true data-search-align="left" data-buttons-align="left" data-pagination-v-align="both" data-pagination-h-align="right" data-query-params=queryParams data-url="/activities.json" data-page-list=[5,10,25] data-mobile-responsive=true data-check-on-init=true>
    <thead>
      <tr>
        <th data-field="id"           data-sortable=true data-searchable=true >Id</th>
        <th data-field="project_name" data-sortable=true data-searchable=true >Project</th>
        <th data-field="task_name"    data-sortable=true data-searchable=true >Task</th>
        <th data-field="subtask_name" data-sortable=true data-searchable=true >Subtask</th>
        <th data-field="user_name"    data-sortable=true data-searchable=true >User</th>
        <th data-field="start"        data-sortable=true data-searchable=true data-formatter=dateFormatter>Start</th>
        <th data-field="ended"        data-sortable=true data-searchable=true data-formatter=dateFormatter>End</th>
        <th data-field="duration"     data-sortable=true data-searchable=true >Duration</th>
        <th data-field="chargeable"     data-sortable=true data-searchable=true data-formatter=booleanFormatter >Chargeable?</th>
        <th data-field="charged"     data-sortable=true data-searchable=true data-formatter=booleanFormatter >Charged?</th>
        <th data-field="charged_date" data-sortable=true data-searchable=true  data-formatter=onlyDateFormatter>Charged on</th>
        <th data-field="description"  data-sortable=true data-searchable=true >Description</th>
      </tr>
    </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>

<script>bindEventsToTable();</script>

