<!-- table implemented with bootstrap-table -->
<% content_for :js do %>
  <%= javascript_include_tag 'bootstrap-table-formatters', 'data-turbolinks-track' => true %>
<% end %>


<h1><%= t :Listing_activities %></h1>

<div class="row">
  <div class="col-md-2">
    <%= link_to 'New Activity', new_activity_path, class: "btn btn-success" %>
  </div>
  <div class="col-md-10">
    <div class="input-group">
      <%= form_tag(upload_activities_file_path, {:class => "form", multipart: true}) do %>
        <%= file_field_tag :import_file_name, style: "float: left;" %>
        <%= hidden_field_tag :import_file_name_cache %>
        <%= submit_tag "Upload and parse", class: "btn btn-primary"  %>
      <% end -%>
    </div>
  </div>
</div>

<div class="thin-spacer"></div>

<div class="row">
  <!-- data load filters -->
  <div class="col-md-12 centered">
    <%= form_tag activity_report_path(format: :pdf), method: 'get', class: 'form-inline' do %>
      <div class="well">
        <div class="form-group">
          <%= text_field_tag :starting_date, @starting_date, id: "starting_date", class: "form-control" %>
          <%= text_field_tag :ending_date, @ending_date, id: "ending_date", class: "form-control" %>
          <%= hidden_field_tag :filter %>
        </div>
        <div class="form-group">
          Project <%= collection_select nil, :project, Project.open.alfa_order, :id, :name, {include_blank: true}, html_options = { onchange: "$('#table').bootstrapTable('refresh');"} %>
        </div>
        <div class="form-group">
          Chargeable? <%= select_tag "chargeable", '<option>ALL</option><option>Yes</option><option>No</option>'.html_safe, {onchange: "$('#table').bootstrapTable('refresh');"} %>
        </div>
        <div class="form-group">
          Charged? <%= select_tag "charged", '<option>ALL</option><option>Yes</option><option>No</option>'.html_safe, {onchange: "$('#table').bootstrapTable('refresh');"} %>
        </div>
        
        <div class="form-group">
          Charged_code: <%= text_field_tag :charged_code, nil, id: "charged_code", class: "form-control", onchange: "$('#table').bootstrapTable('refresh');return false;" %>
        </div>

        <div class="form-group">
          <%= button_tag 'Apply filter', onclick: "$('#table').bootstrapTable('refresh');return false;", class: "btn btn-primary" %>
        </div>
      </div>

      <div class="well">
        <div class="form-group">
          <label">Detailed report? <%= check_box_tag "detailed" %></label>
          <%= submit_tag "Print PDF Report", onclick: "$('#filter').val($('.search input:text').val()); ", class: "btn btn-default" %>
        </div>

        <div class="form-group" style="margin-left: 10em;">
          <%= text_field_tag :charged_date, nil, id: "charged_date", class: "form-control" %>
          <%= button_tag "Charge filtered activities!", id: 'button_charge', onclick: "$('#filter').val($('.search input:text').val()); charge_activities(); return false;", class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>

</div>


<!-- modal popup to user actions -->
<div class="modal fade" id="managmentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Managment</h4>
      </div>
      <div class="modal-body">
        <p class="btn btn-default" id="showPath"></p>
        <p class="btn btn-default" id="editPath"></p>
        <p class="btn btn-default" id="destroyPath"></p>
        <p class="btn btn-danger"  id="toggleChargeable"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"><%= t(:Close_modal) %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<table id="table" class="table table-striped" data-toggle="table" data-sort-name="id" data-sort-order="desc" data-pagination=true data-search=true data-show-pagination-switch=true data-show-refresh=true data-show-columns=true data-search-align="left" data-buttons-align="left" data-pagination-v-align="both" data-pagination-h-align="right" data-query-params=queryParams data-url="/activities.json" data-page-list=[5,10,25] data-mobile-responsive=true data-check-on-init=true>
    <thead>
      <tr>
        <th data-field="id"           data-sortable=true data-searchable=true >Id</th>
        <th data-field="project_name" data-sortable=true data-searchable=true >Project</th>
        <th data-field="task_name"    data-sortable=true data-searchable=true >Task</th>
        <th data-field="subtask_name" data-sortable=true data-searchable=true >Subtask</th>
        <th data-field="user_name"    data-sortable=true data-searchable=true >User</th>
        <th data-field="start"        data-sortable=true data-searchable=true data-formatter=dateFormatter>Start</th>
        <th data-field="ended"        data-sortable=true data-searchable=true data-formatter=dateFormatter>End</th>
        <th data-field="duration"     data-sortable=true data-searchable=true >Duration</th>
        <th data-field="chargeable"     data-sortable=true data-searchable=true data-formatter=booleanFormatter >Chargeable?</th>
        <th data-field="charged"     data-sortable=true data-searchable=true data-formatter=booleanFormatter >Charged?</th>
        <th data-field="charged_date" data-sortable=true data-searchable=true data-formatter=onlyDateFormatter>Charged on</th>
        <th data-field="charged_code" data-sortable=true data-searchable=true>Charged code</th>
        <th data-field="description"  data-sortable=true data-searchable=true >Description</th>
      </tr>
    </thead>

  <tbody>
    <% @activities.each do |activity| %>
      <tr>
      </tr>
    <% end %>
  </tbody>
</table>

<script>bindEventsToTable();</script>

<script>
  ////////////////////////////////////////////////////////////
  // call for charge method with the same filter parameters //
  ////////////////////////////////////////////////////////////
  function charge_activities() {
    var doCharge = function() {
      var filterString = {starting_date: $('#starting_date').val(), ending_date: $('#ending_date').val(), chargeable: $('#chargeable').val(), charged: $('#charged').val(), filter: $('#filter').val(), charged_date: $('#charged_date').val(), project: $('#_project').val(), charged_code: $('#charged_code').val()};
      var url = '<%= charge_activities_path %>';
      
      $.ajax({
        method: "POST",
        url: url,
        data: filterString
      })
        .done(function(data){
          console.log('Charge activities result', data);
          $('#table').bootstrapTable('refresh');
          message = data.quantity + ' activities charged on ' + data.charged_date + ' with code ' + data.charged_code;
          alert(message);
      })
        .fail(function(){
          console.log("Charge activities failed!");
          alert("Charge activities failed!");
      })
    }

    if (($('#chargeable').val().toUpperCase() != 'YES') || ($('#charged').val().toUpperCase() != 'NO')) {
      var retVal = confirm("Charge all these activities?");
      if( retVal == true ){
         doCharge();
      }
    } else {
      doCharge();
    }
  }
</script>