<h1>Project report </h1>
<h2><%= @project.name %></h2>

<% unless @project.users.empty? %>

  <p>Start: <%= localize_date @project.activities.first.start %></p>
  <p>Last activity: <%= localize_date @project.activities.last.ended %></p>

  <h3>Tasks</h3>

  <ul>
    
    <% @project.tasks.each do |t| %>
      <li>
        <%= t.name %> <%= duration_to_s(t.activities.for_project(@project.id).with_end.sum(:duration)) %>
      </li>
    <% end %>

  </ul>

<% if false %>
  <h3>Users</h3>

  <ul>
    
    <% @project.users.each do |u| %>

      <li><%= u.name %></li>

        <ul>
          <% u.tasks.each do |t| %>
              <% sum_duration = (t.activities.for_project(@project.id).for_user(u).with_end.sum(:duration)) %>
              <% if sum_duration > 0 %>
                <li>
                  <%= t.name %> <%= duration_to_s(sum_duration) %>
                </li>
              <% end -%>
          <% end %>
        </ul>
        
        <label>Total user time: <%= duration_to_s(u.activities.for_project(@project.id).with_end.sum(:duration)) %></label>

    <% end %>

  </ul>
<% end -%>

  <h3>Total project time: <%= duration_to_s(@project.activities.with_end.sum(:duration)) %></h3>

<% else %>

  <h3>No activity</h3>
  
<% end %>