<h1>Week report</h1>
<%= form_tag new_week_report_path, id: :form_week_select do %>
  <%= label_tag :weekpicker, "Week:" %>
  <%= text_field_tag :weekpicker, nil, size: 35 %>
  <%= hidden_field_tag :start %>
  <%= hidden_field_tag :ended %>
  <%= submit_tag "Get report" %>
<% end %>

<div id="content"></div>

    <div class="input-append date" id="datetimepicker1">
      <input data-format="dd/MM/yyyy" type="text">
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
        </i>
      </span>
    </div>

    <script type="text/javascript">
      $('#datetimepicker1').datetimepicker({
        format: 'dd/MM/yyyy',
        weekStart: 1,
        language: 'es',
        maskInput: true,           // disables the text input mask
        pickDate: true,            // disables the date picker
        pickTime: false,            // disables de time picker
        pick12HourFormat: false,   // enables the 12-hour format time picker
        pickSeconds: false,         // disables seconds in the time picker
        startDate: -Infinity,      // set a minimum date
        endDate: Infinity,          // set a maximum date
        dateIcon: "icon-calendar"
      }).on('changeDate', function(e) {
        console.log(e.localDate);
        $('#start').val(e.localDate);
      });

    </script>

