<h1>Project report </h1>
<h2><%= @project.name %></h2>
  <p>Start: <%= localize_date @project_starting_date %></p>
  <p>Last activity: <%= localize_date @project_ending_date %></p>

<h2>Tasks</h2>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.name %> <%= duration_to_s(task.activities.for_project(@project.id).with_end.sum(:duration)) %>
    </li>
  <% end -%>
</ul>

<h3>Total project time: <%= duration_to_s(@total_duration) %></h3>

<h2>Weekly Activity</h2>

<table class="table">
  <thead>
    <th>Year</th>
    <th>Week</th>
    <th>Monday Date</th>
    <th>Entries</th>
    <th>Duration</th>
  </thead>
  <tbody>
    <% @weekly_activity.each do |year_week_array, entries_duration_array| %>
      <tr>
        <td><%= "#{year_week_array[0]}" %></td>
        <td><%= "#{year_week_array[1]}" %></td>
        <td><%= "#{localize_date_only_date(Date.commercial(year_week_array[0], year_week_array[1]))}" %></td>
        <td><%= "#{entries_duration_array[0]}" %></td>
        <td><%= "#{duration_to_s(entries_duration_array[1])}" %></td>
      </tr>
    <% end -%>
  </tbody>
</table>


