<h1>Year report</h1>

<% @activities.size.times{ |year| %>
  <h3><%= @year[year]  %> </h3>
  <% unless @activities[year].empty? %>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Project</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody>
        <% @activities[year].each do |a| %>
          <tr>
            <td>
              <%= a[0] %>
            </td>
            <td>
              <%= duration_to_s(a[1]) %></li>  
            </td>
          </tr>
        <% end %>
        <tr>
          <td>
            <h3><%= @activities[year].count %> projects / <%= @number_of_entries[year] %> lines</h3>
          </td>
          <td>
            <h3><%= duration_to_s(@total_duration[year]) %></h3>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
<% } -%>


    <table class="table table-condensed">
      <thead>
        <tr>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><h2>Total activity</h2></td>
          <td>
          <h2 class="pull-right"><%= duration_to_s(@total_duration.reduce :+) %></h2>
          </td>
        </tr>
      </tbody>
    </table>
