<!DOCTYPE html>
<html>
<head>
  <title>ActivityLogger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>

  <!-- BOOTSTRAP-TABLE http://bootstrap-table.wenzhixin.net.cn -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

  <!-- Latest compiled and minified Locales -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/locale/bootstrap-table-es-ES.min.js"></script>
  
  <%= yield :js if content_for?(:js) %>

</head>
<body>

	<%= render 'layouts/main_menu' %>

	<div style="text-align: center; margin-top: 3em;">
    <p id="notice"><h3><%= flash[:notice] %></h3></p>
    <p id="alert"><h3><%= flash[:alert] %></h3></p>
	</div>

<div class="container">
  <div class="row">
    <%= yield %>
  </div>
</div>

</body>
</html>
